.mainTitle {
  margin-top: 48px;
  text-align: center;
}

.subTitle {
  text-align: center;
  margin: 12px auto 48px;
}

.forecastContents {
  display: flex;
  justify-content: space-around;
}

.forecastContent {
  background-color: #5f9ea0;
  width: 320px;
  height: 240px;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date {
  font-size: 24px;
}

.telop {
  font-size: 32px;
  font-weight: bold;
}
